<html>
    <center>
        <h2>Student Information</h2>
        <br>
        <br>
        <br>
        <a href="{{ url_for('addStudent') }}">Add New Student</a>
        <br>
        <br>
        <table border=1>
            <tr>
                <td> Student ID </td>
                <td> Student Name </td>
                <td> Operations </td>
            </tr>
            {% for record in records %}

            <tr>
                <td> {{ record.student_ID }} </td>
                <td><a href="{{ url_for('studentInformation', student_ID=record.student_ID) }}"> {{ record.firstname }} {{ record.surname }} </a></td>
                <td><a href="{{ url_for('editStudent', student_ID=record.student_ID) }}"> edit </a>
                    <a href="{{ url_for('deleteStudent', student_ID=record.student_ID) }}"> delete </a></td>
            </tr>

            {% endfor %}
        </table>
    </center>
    <br>
    <br>
    <!---<p style="text-align: right;"><a href="{{ url_for('marksTable') }}"> all marks </a></p>-->
</html>