<html>
    <center>
        <h2>Marks</h2>
        <br>
        <br>
        <br>
        <a href=#>Add Marks</a>
        <table border=1>
            <tr>
                <td> Mark ID </td>
                <td> Student ID </td>
                <td> Subject </td>
                <td> Marks </td>
            </tr>
            <tr>
                <td> {{ record.mark_ID }} </td>
                <td> {{ record.student_ID }} </td>
                <td> {{ record.subject }} </td>
                <td> {{ record.marks }} </td>
            </tr>
        </table>
    </center>
</html>